@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-primary: "Poppins", "serif";
  --font-secondary: "DM Sans", "serif";

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-success: var(--success);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  /* CHANGING COLOR PATTERNS */

  --color-gray-100: oklch(0.7476 0 0);
  --color-gray-200: oklch(0.6665 0 0);
  --color-gray-300: oklch(0.5103 0 0);
  --color-gray-400: oklch(0.36 0 0);
  --color-gray-500: oklch(0.2308 0 0);

  --color-blue-100: oklch(0.9376 0.0287 224.7);
  --color-blue-200: oklch(0.7846 0.1244 235.24);
  --color-blue-300: oklch(0.6669 0.163656 243.7543);

  --color-shape: oklch(0.9457 0.0119 17.37);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.9726 0.0075 17.29);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.6465 0.2106 37.21);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.5511 0.1803 37.04);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.6665 0 0);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.5915 0.202 21.24);
  --success: oklch(0.6401 0.1751 146.74);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground font-primary;
  }

  h1,
  h2,
  p,
  h3,
  h4,
  h5,
  h6,
  a {
    @apply leading-[120%];
  }

  h1,
  h2,
  h3 {
    @apply text-gray-500;
  }

  p,
  label,
  a {
    @apply text-gray-300;
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px var(--color-white) inset !important;
    -webkit-text-fill-color: oklch(0.36 0 0);
    border-bottom: 1px solid var(--color-gray-200) !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /* Chrome, Safari, Edge */
    margin: 0;
  }

  ::-webkit-scrollbar {
    width: 5px;
    background-color: var(--color-shape);
    border-radius: 40px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    border-radius: 40px;
    border: 1px solid var(--color-shape);
  }

  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--color-shape);
    border-radius: 40px;
  }
}